// // // these are variables, start with $, no space between 2 words, be consistant
// // when naming the words, always write it on the intropanel. You can only use
// it once they're declared. Variable usage is called key:value pair


$back-color: #dbd6d3;
$text-color: #eb7f73;
$border-color: #f977a9;
$margin-all: 3px;
$padding-all: 2px;
$font-size: 20px;
$line-height: 30px;
$margin-allBig: 50px 20px;
$font-family: 'Assistant', sans-serif;
$color: purple;
$margin: 50px;
$margin-1: 25px;
$margin-2: 50px;
